* {
  box-sizing: border-box;
  outline: 1px solid red;
  font-family: 'Montserrat';
  font-style: normal;
}

/* Header */

nav {
  display: flex; 
}

.nav-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.nav-icons i {
  color: #737373;
  font-size: 25px;
}

.nav-icons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
}

/* Home */

.home-container {
  background-position: center;
  background-position-y: bottom;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/hero-cover.png");
  background-size: cover;
  padding-bottom: 100px;
  min-height: 10px;
}

.home-container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.home-container h4 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 36px;
  gap: 10px;
}

.home-btn1 {
  background: #23A6F0;
  border-radius: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 10px 40px;
  border: none;

}

.home-p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 20px;
}

form {
  background: #FFFFFF;
  max-width: 295px;
  margin: auto;
  border-radius: 5px;
}

.form-container {
  padding: 25px;
}

.form-container h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;   
}

.form-container h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.form-container input {
  background-color: #F9F9F9;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: -15px;
}

.form-container select {
  background-color: #F9F9F9;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: 15px 90px 15px 15px;
  color: gray;
  margin-top: -15px;
}

.form-container button {
  margin-top: 30px;
  background-color: #23A6F0;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  padding: 15px 40px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
}
